version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: taskflow_postgres
    restart: always
    environment:
      POSTGRES_DB: taskflow
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
